${(host.substr(host.length-6,6) == '.onion') ? HTML_TOR_HEAD:HTML_HEAD}
  <title>${currencyName}-monit : ${MENU_LANG['ABOUT']}</title>
</head>
<body>
  
<!-- Afficher le menu -->
${printMenu(MENU_LANG, help, "ABOUT")}

</form>
<div align="left">${LANG['VERSION']} : <a href="https://github.com/duniter/duniter-currency-monit/releases/tag/0.4.2">0.4.2</a></div><br>
<div align="left">${LANG['AUTHOR']} : <a href="https://github.com/librelois">Éloïs Librelois</a></div><br>
<div align="left"><small>${LANG['CONTRIBUTORS']}: <a href="https://github.com/jytou">jytou</a> (translator), <a href="https://github.com/devingfx">devingfx</a> (frontend), <a href="https://github.com/c-geek">cgeek</a> (willMembers and wotex),<a href="https://github.com/M5oul">M5oul</a> (adjustments)</small></div><br>
<div align="left">
  ${LANG['LICENSE']} : <a href="https://github.com/duniter/duniter-currency-monit/blob/master/LICENSE">AGPL V 3.0</a><br>
  <a href="https://github.com/duniter/duniter-currency-monit/">${LANG['GIT_REPOSITORY']}</a>
</div><br>
<div align="left">${LANG['IF_YOU_WANT']} <a href="?lg=${MENU_LANG['LG']}&help=no">${LANG['DISABLE_HELP']}</a>.</div><br>
<div align="left">${LANG['DONATE']} :<br>
      <a href="https://g1.duniter.fr/#/app/transfer/D9D2zaJoWYWveii1JRYLVK3J4Z7ZH3QczoKrnQeiM6mx?comment=thank for currency-monit"><img src="https://elois.org/public/duniter_button.png"></a><br>
    </div>
<br>