${(host.substr(host.length-6,6) == '.onion') ? HTML_TOR_HEAD:HTML_HEAD}
  <title>${currencyName}-monit : ${MENU_LANG['ABOUT']}</title>
</head>
<body>
  
<!-- Afficher le menu -->
${printMenu(MENU_LANG, help, "ABOUT")}

</form>
<div align="left">${LANG['VERSION']} : <a href="https://git.duniter.org/nodes/typescript/modules/duniter-currency-monit/tree/v0.4.15">0.4.15</a></div><br>
<div align="left">${LANG['AUTHOR']} : <a href="https://github.com/librelois">Éloïs Librelois</a></div><br>
<div align="left"><small>${LANG['CONTRIBUTORS']}: <a href="https://github.com/jytou">jytou</a> (translator), <a href="https://github.com/devingfx">devingfx</a> (frontend), <a href="https://github.com/c-geek">cgeek</a> (willMembers and wotex),<a href="https://github.com/M5oul">M5oul</a> (adjustments)</small></div><br>
<div align="left">
  ${LANG['LICENSE']} : <a href="https://github.com/duniter/duniter-currency-monit/blob/master/LICENSE">AGPL V 3.0</a><br>
  <a href="https://git.duniter.org/nodes/typescript/modules/duniter-currency-monit">${LANG['GIT_REPOSITORY']}</a>
</div><br>
<div align="left">${LANG['IF_YOU_WANT']} <a href="?lg=${MENU_LANG['LG']}&help=no">${LANG['DISABLE_HELP']}</a>.</div><br>
<div align="left">${LANG['DONATE']} : GGUSkrw8csnV5uYXfL7Vdoy3qcM8fCD91v3NXHixWtKS<br>
  <a href="https://cesium.monnaielibreoccitanie.org/api/#/v1/payment/GGUSkrw8csnV5uYXfL7Vdoy3qcM8fCD91v3NXHixWtKS?amount=30&comment=merci%20pour%20currency-monit">
    <div style="border-radius: 5px; min-height: 42px; text-align: center; padding: 5px; line-height: 30px; max-width: 300px; background-color: #fbc14c; color: black; ">
      <img style="vertical-align: middle;" src="https://cesium.monnaielibreoccitanie.org/api/../img/logo_32px.png">
      faire un don (via Cesium)
    </div>
  </a>
  <br>
</div>
<br>
