${HTML_HEAD}
${HTML_MENU}
<div align="center">
  <br>
  <a href="https://github.com/duniter/duniter-currency-monit/blob/master/LICENSE">License AGPL V 3.0</a><br>
  <a href="https://github.com/duniter/duniter-currency-monit/">github repository</a>
</div><br>
<div align="left">Version : <a href="https://github.com/duniter/releases/tag/v0.1.1">0.1.1</a></div><br>
<div align="left">Author : <a href="https://github.com/librelois">Éloïs Librelois</a></div><br>
<div align="left">Contributors : <a href="https://github.com/jytou">jytou</a> (translator), <a href="https://github.com/devingfx">devingfx</a> (frontend)</div><br>
