${HTML_HEAD}
<script src="https://librelois.fr/js/Chart.min.js"></script>
${HTML_MENU}

<form action="" method="GET">Begin #<input type="number" name="begin" value="${begin}"> - End #<input type="number" name="end" value="${end}"><input type="submit" value="submit"></form><br>
<canvas id="myChart"></canvas>
<script>
  var tabNbBlockByMemberSort = ${JSON.stringify(tabNbBlockByMemberSort)};
  var begin = ${JSON.stringify(begin)};
  var end = ${JSON.stringify(end)};
  
  // Formatting data
  var tabLabels = [];
  var tabNbBlocks = [];
  var tabBackgroundColor = [];
  var tabBorderColor = [];
  var nbBlocks = 0;
  var nbMembers = 0;
  const NB_PARTS = ${NB_PARTS};
  const nbCols = (tabNbBlockByMemberSort.length < NB_PARTS) ? tabNbBlockByMemberSort.length:NB_PARTS;
  for (let i=0;i<nbCols;i++)
  {
    if (tabNbBlockByMemberSort[i].nbBlocks > 0)
    {
      tabLabels.push(tabNbBlockByMemberSort[i].uid);
      tabNbBlocks.push(tabNbBlockByMemberSort[i].nbBlocks);
      nbBlocks += tabNbBlockByMemberSort[i].nbBlocks;
      
      // Define bar color
      let red = tabNbBlockByMemberSort[i].color;
      tabBackgroundColor.push('rgba('+red+', '+(255-red)+', 0, 0.5)');
      tabBorderColor.push('rgba('+red+', '+(255-red)+', 0, 1)');
      nbMembers++;
    }
  }
  
  // Define Chart Data
  var myChartData = {
    labels: tabLabels,
    datasets: [{
      label: '#Written blocks',
      data: tabNbBlocks,
      backgroundColor: tabBackgroundColor,
      borderColor: tabBorderColor,
      borderWidth: 1
  }]
  }
  
  // Define Chart Options
  var myChartOptions = {
    // plugins: {
    //   afterDraw: function (chart, easing) {
    //     var self = chart.config;    /* Configuration object containing type, data, options */
    //     var ctx = chart.chart.ctx;  /* Canvas context used to draw with */
    //   }
    // },
    title: {
      display: true,
      text: nbMembers+' members have written blocks in the range #'+begin+'-#'+end
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        ticks: {
            beginAtZero:true
        }
      }]
    }
  }
  
  // creating chartJs Object
  var chartJs = {
    type: 'bar',
    data: myChartData,
    options: myChartOptions
  }
  

var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx, chartJs);

</script>