${HTML_HEAD}
<script src="https://librelois.fr/js/Chart.min.js"></script>
${HTML_MENU}

<form action="" method="GET">Begin #<input type="number" name="begin" value="${begin}"> - End #<input type="number" name="end" value="${end}">
<select name="data">
	<option name="data" value ="nbBlocks">Number of written Blocks
	<option name="data" value ="writtenPercent" ${data == 'writtenPercent' ? 'selected' : ''}>Percent of written Blocks
	<option name="data" value ="writtenPercentSinceBecomeMember" ${data == 'writtenPercentSinceBecomeMember' ? 'selected' : ''}>Percent of written Blocks since become member
	<option name="data" value ="meanNonce" ${data == 'meanNonce' ? 'selected' : ''}>mean nonce
</select> <input type="submit" value="submit"></form><br>
<canvas id="myChart"></canvas>
<script>
  var tabBlockMembersSort = ${JSON.stringify(tabBlockMembersSort)};
  var begin = ${JSON.stringify(begin)};
  var end = ${JSON.stringify(end)};
  var dataLabel = ${JSON.stringify(dataLabel)};
  
  // Formatting data
  var tabLabels = [];
  var tabDataX = [];
  var tabBackgroundColor = [];
  var tabBorderColor = [];
  var tabHoverBackgroundColor = [];
  var total = 0;
  var nbMembers = 0;
  const NB_PARTS = ${NB_PARTS};
  const nbCols = (tabBlockMembersSort.length < NB_PARTS) ? tabBlockMembersSort.length:NB_PARTS;
  for (let i=0;i<nbCols;i++)
  {
    if (tabBlockMembersSort[i].data > 0)
    {
      tabLabels.push(tabBlockMembersSort[i].uid);
      tabDataX.push(tabBlockMembersSort[i].data);
      total += tabBlockMembersSort[i].data;
      
      // Define bar color
      let red = tabBlockMembersSort[i].color;
      tabBackgroundColor.push('rgba('+red+', '+(255-red)+', 0, 0.5)');
      tabBorderColor.push('rgba('+red+', '+(255-red)+', 0, 1)');
      tabHoverBackgroundColor.push('rgba('+red+', '+(255-red)+', 0, 0.2)');
      nbMembers++;
    }
  }
  
  // Define Chart Data
  var myChartData = 
  
  // Define Chart Options
  var myChartOptions = 
  
  // creating chartJs Object
  var chartJs = 
  

var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx, chartJs);

</script>