${HTML_HEAD}
<script src="https://librelois.fr/js/Chart.min.js"></script>
${HTML_MENU}

<form action="" method="GET">Begin #<input type="number" name="begin" value="${begin}"> - End #<input type="number" name="end" value="${end}"><input type="submit" value="submit"></form><br>
<canvas id="myChart"></canvas>
<script>
  var tabNbBlockByMemberSort = ${JSON.stringify(tabNbBlockByMemberSort)};
  var begin = ${JSON.stringify(begin)};
  var end = ${JSON.stringify(end)};
  
  // Formatting data
  var tabLabels = [];
  var tabNbBlocks = [];
  var nbBlocks = 0;
  var nbMembers = 0;
  const NB_PARTS = ${NB_PARTS};
  for (let i=0;i<NB_PARTS-1;i++)
  {
    if (tabNbBlockByMemberSort[i].nbBlocks > 0)
    {
      tabLabels.push(tabNbBlockByMemberSort[i].uid);
      tabNbBlocks.push(tabNbBlockByMemberSort[i].nbBlocks);
      nbBlocks += tabNbBlockByMemberSort[i].nbBlocks;
      nbMembers++;
    }
  }
  // Other Part
  if ( ( (end- begin) - nbBlocks) > 0 )
  {
    tabLabels.push("Others");
    tabNbBlocks.push( (end- begin) - nbBlocks);
  }
  
  // Define Chart Data
  var myChartData = {
    labels: tabLabels,
    datasets: [{
      label: '#Written blocks',
      data: tabNbBlocks,
      backgroundColor: [
        'rgba(255, 99, 132, 0.3)', // Red
        'rgba(255, 129, 98, 0.3)', // Red-Orange
        'rgba(255, 159, 64, 0.3)', // Orange
        'rgba(255, 182, 75, 0.3)', // Orange-Yellow
        'rgba(255, 206, 86, 0.3)', // Yellow
        'rgba(165, 199, 139, 0.3)', // Yellow-Green
        'rgba(75, 192, 192, 0.3)', // Green
        'rgba(64, 177, 213, 0.3)', // Green-Blue
        'rgba(54, 162, 235, 0.3)', // Blue
        'rgba(103, 132, 245, 0.3)', // Blue-Purple
        'rgba(153, 102, 255, 0.3)', // Purple
        'rgba(255, 99, 132, 0.3)', // Red
        'rgba(255, 129, 98, 0.3)', // Red-Orange
        'rgba(255, 159, 64, 0.3)', // Orange
        'rgba(255, 182, 75, 0.3)', // Orange-Yellow
        'rgba(255, 206, 86, 0.3)', // Yellow
        'rgba(165, 199, 139, 0.3)', // Yellow-Green
        'rgba(75, 192, 192, 0.3)', // Green
        'rgba(64, 177, 213, 0.3)', // Green-Blue
        'rgba(54, 162, 235, 0.3)', // Blue
        'rgba(103, 132, 245, 0.3)', // Blue-Purple
        'rgba(153, 102, 255, 0.3)', // Purple
        'rgba(255, 99, 132, 0.3)', // Red
        'rgba(255, 129, 98, 0.3)', // Red-Orange
        'rgba(255, 159, 64, 0.3)', // Orange
        'rgba(255, 182, 75, 0.3)', // Orange-Yellow
        'rgba(255, 206, 86, 0.3)', // Yellow
        'rgba(165, 199, 139, 0.3)', // Yellow-Green
        'rgba(75, 192, 192, 0.3)', // Green
        'rgba(64, 177, 213, 0.3)', // Green-Blue
        'rgba(54, 162, 235, 0.3)', // Blue
        'rgba(103, 132, 245, 0.3)', // Blue-Purple
        'rgba(153, 102, 255, 0.3)', // Purple
        'rgba(128, 128, 128, 0.3)' // Grey
      ],
      borderColor: [
        'rgba(255, 99, 132, 1)', // Red
        'rgba(255, 129, 98, 1)', // Red-Orange
        'rgba(255, 159, 64, 1)', // Orange
        'rgba(255, 182, 75, 1)', // Orange-Yellow
        'rgba(255, 206, 86, 1)', // Yellow
        'rgba(165, 199, 139, 1)', // Yellow-Green
        'rgba(75, 192, 192, 1)', // Green
        'rgba(64, 177, 213, 1)', // Green-Blue
        'rgba(54, 162, 235, 1)', // Blue
        'rgba(103, 132, 245, 1)', // Blue-Purple
        'rgba(153, 102, 255, 1)', // Purple
        'rgba(255, 99, 132, 1)', // Red
        'rgba(255, 129, 98, 1)', // Red-Orange
        'rgba(255, 159, 64, 1)', // Orange
        'rgba(255, 182, 75, 1)', // Orange-Yellow
        'rgba(255, 206, 86, 1)', // Yellow
        'rgba(165, 199, 139, 1)', // Yellow-Green
        'rgba(75, 192, 192, 1)', // Green
        'rgba(64, 177, 213, 1)', // Green-Blue
        'rgba(54, 162, 235, 1)', // Blue
        'rgba(103, 132, 245, 1)', // Blue-Purple
        'rgba(153, 102, 255, 1)', // Purple
        'rgba(255, 99, 132, 1)', // Red
        'rgba(255, 129, 98, 1)', // Red-Orange
        'rgba(255, 159, 64, 1)', // Orange
        'rgba(255, 182, 75, 1)', // Orange-Yellow
        'rgba(255, 206, 86, 1)', // Yellow
        'rgba(165, 199, 139, 1)', // Yellow-Green
        'rgba(75, 192, 192, 1)', // Green
        'rgba(64, 177, 213, 1)', // Green-Blue
        'rgba(54, 162, 235, 1)', // Blue
        'rgba(103, 132, 245, 1)', // Blue-Purple
        'rgba(153, 102, 255, 1)', // Purple
        'rgba(128, 128, 128, 1)' // Grey
      ],
      borderWidth: 1
  }]
  }
  
  // Define Chart Options
  var myChartOptions = {
    // plugins: {
    //   afterDraw: function (chart, easing) {
    //     var self = chart.config;    /* Configuration object containing type, data, options */
    //     var ctx = chart.chart.ctx;  /* Canvas context used to draw with */
    //   }
    // },
    title: {
      display: true,
      text: nbMembers+' members have written blocks in the range #'+begin+'-#'+end
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        ticks: {
            beginAtZero:true
        }
      }]
    }
  }
  
  // creating chartJs Object
  var chartJs = {
    type: 'bar',
    data: myChartData,
    options: myChartOptions
  }
  

var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx, chartJs);

</script>