<!DOCTYPE html>
<html >
<head >
	<link
			rel='icon'
			type='image/png'
			href='https://librelois.fr/public/duniter.ico' />
	<link
			rel='stylesheet'
			type='text/css'
			href='css/bulma.min.css' />
	<link
			rel='stylesheet'
			type='text/css'
			href='css/main.css' />
  <link
			rel='stylesheet'
			type='text/css'
			href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' />
  <script href="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
	<script href='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js' ></script >
	<script type='text/javascript' >

    $(document).ready(function () {
      $('table').DataTable();
    });
	</script >

