<!DOCTYPE html>
<html >
<head >
	<link
			href='https://librelois.fr/public/duniter.ico'
			rel='icon'
			type='image/png' />
	<link
			href='css/bulma.min.css'
			rel='stylesheet'
			type='text/css' />
	<link
			href='css/main.css'
			rel='stylesheet'
			type='text/css' />
	<link
			href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css'
			rel='stylesheet'
			type='text/css' />
	<script
			crossorigin='anonymous'
			href='https://code.jquery.com/jquery-3.5.0.slim.min.js'
			integrity='sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=' ></script >
	<script href='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js' ></script >
	<script type='text/javascript' >

    $(document).ready(function () {
      $('table').DataTable();
    });
	</script >

