${(host.substr(host.length-6,6) == '.onion') ? HTML_TOR_HEAD:HTML_HEAD}
  <title>${currencyName}-monit</title>
</head>
<body>

<!-- Afficher le menu -->
<table align="center" width="100%">
  <tr>
    <td><a href="willMembers?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["WILL_MEMBERS"]}</a></td>
    <td><a href="members?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MEMBERS"]}</a></td>
    <td><a href="membersCount?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MEMBERS_COUNT"]}</a></td>
    <td><a href="blockCount?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["BLOCK_COUNT"]}</a></td>
    <td><a href="monetaryMass?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MONETARY_MASS"]}</a></td>
    <td><a href="wotex?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["WOTEX"]}</a></td>
    <td><a href="about?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["ABOUT"]}</a></td>
    <td>
      <form action="" method="GET">
	<select name="lg" onchange="this.form.submit()">
	  <option name="lg" value="fr" ${MENU_LANG['LG'] == 'fr' ? 'selected' : ''}>FR
	  <option name="lg" value="en" ${MENU_LANG['LG'] == 'en' ? 'selected' : ''}>EN
	</select>
    </td>
</tr>
</table>
<hr>

<!-- Afficher le formulaire -->
<input type="number" name="d" value="${days}"/>${LANG["FORM1"]} <select name="sort_by">
<option name="sort_by" value ="idtyWritten">${LANG["SORT_BY_IDTY_WRITTEN"]}
<option name="sort_by" value ="expireMembership" ${sort_by == 'expireMembership' ? 'selected' : ''}>${LANG["SORT_BY_EXPIRE_MEMBERSHIP"]}
<option name="sort_by" value ="lastRenewal" ${sort_by == 'lastRenewal' ? 'selected' : ''}>${LANG["SORT_LAST_RENEWAL"]}
<option name="sort_by" value ="oldestSig" ${sort_by == 'oldestSig' ? 'selected' : ''}>${LANG["SORT_BY_OLDEST_SIG"]}
<option name="sort_by" value ="lastSig" ${sort_by == 'lastSig' ? 'selected' : ''}>${LANG["SORT_BY_LAST_SIG"]}
<option name="sort_by" value ="centrality" ${sort_by == 'centrality' ? 'selected' : ''}>${LANG["SORT_BY_CENTRALITY"]}
<option name="sort_by" value ="sigCount" ${sort_by == 'sigCount' ? 'selected' : ''}>${LANG["SORT_BY_SIG_COUNT"]}
</select> ${LANG["ORDER_BY"]} <select name="order">
<option name="order" value ="asc"> ${LANG["ASC"]}
<option name="order" value ="desc" ${order == 'desc' ? 'selected' : ''}> ${LANG["DESC"]}</select>
<input type="submit" value="${LANG['SUBMIT_BUTTON']}"><br>
<input type="checkbox" name="centrality" value="yes">${LANG["CHECKBOX_CENTRALITY"]}.<br>
<input type="checkbox" name="pendingSigs" value="yes" ${pendingSigs == 'yes' ? 'checked' : ''}>${LANG["CHECKBOX_PENDING_SIGS"]}.<br>
<input type="checkbox" name="mode" value="emitted" ${mode == 'emitted' ? 'checked' : ''}>${LANG["CHECKBOX_MODE_SIG"]}.<br>
</form>
<hr>

<!-- Afficher la légende et l'aide -->
${(help != 'no') ? `
  <b>${LANG["LEGEND"]}</b><br>
  ${(pendingSigs == 'yes') ? ` ${LANG["LEGEND_AVAILABILITY"]}<br>` : ''}
  <br>
  <b>${LANG["WHAT_IS_CENTRALITY_TITLE"]}</b><br>
  ${LANG["WHAT_IS_CENTRALITY_TEXT"]}<br>
  <br>
  <b>${LANG["QUALITY_MEMBER_TITLE"]}</b><br>
  ${LANG["QUALITY_MEMBER_TXT"]}<br>
  <hr>
`:''}

<!-- Afficher l'état de tension de la toile de confiance -->
<h3>${LANG["WOT_TENSION_STATE"]}</h3>
${(membersLastCentralityCalcTime==0) ? `
	${LANG["CENTRALITY_NOT_CALC"]}.<br>
`:`
  ${(lockCentralityCalc) ? `
    ${LANG["CENTRALITY_CALC_BUSY"]}.<br>
  `:`
		<table border="1">
			<tr><td align='center' colspan='2'>${LANG["DATA_AT"]} ${timestampToDatetime(membersLastCentralityCalcTime)}</td></tr>
			<tr><td align='center'>${LANG["MEAN_LENGTH_PATH"]}</td><td align='center'><b>${(meanShortestsPathLength).toFixed(2)}</b></td></tr>
			<tr><td align='center'>${LANG["MEAN_CENTRALITY"]}</td><td align='center'><b>${meanCentrality.toFixed(2)}</b></td></tr>
			<tr><td align='center'>${LANG["NUMBER_OF_PAIRS_MEMBER"]}</td><td align='center'>${(membersListFiltered.length*(membersListFiltered.length-1))}</td></tr>
			<tr><td align='center'>${LANG["NUMBER_OF_EXIST_PATH"]}</td><td align='center'><b>${nbShortestsPath}</b></td></tr>
			<tr><td align='center'><b>${LANG["PROPORTION_OF_EXIST_PATH"]}</b></td><td align='center'><font color="red"><b>${((nbShortestsPath/(membersListFiltered.length*(membersListFiltered.length-1)))*100).toFixed(2)}%</b></font></td></tr>
		</table>
	`}
`}
<br>
<table border="1">
	<tr><td align='center' colspan='3'>${LANG["DATA_AT"]} ${timestampToDatetime(membersLastUptime)}</td></tr>
	<tr><td align='center'>${LANG["meanMembersReachedByMembersInSingleExtCert"]}</td><td align='center'>${LANG["SENTRIES_REACHED"]}</td><td align='center'>${LANG["MEMBERS_REACHED"]}</td></tr>
	<tr><td align='center'>${LANG["SENTRY_CERT"]}</td><td align='center'>${meanSentriesReachedBySentriesInSingleExtCert}%</td><td align='center'>${meanMembersReachedBySentriesInSingleExtCert}%</td></tr>
	<tr><td align='center'>${LANG["MEMBER_CERT"]}</td><td align='center'><font color="${(meanSentriesReachedByMembersInSingleExtCert<xpercent) ? 'DarkRed' : 'blue' }"><b>${meanSentriesReachedByMembersInSingleExtCert}%</b></font></td><td align='center'><b>${meanMembersReachedByMembersInSingleExtCert}%</b></td></tr>
	<tr><td align='center'><b>${LANG["MEAN_QUALITY"]}</b></td><td align='center'><font color="red"><b>${(meanSentriesReachedByMembersInSingleExtCert/(xpercent*100)).toFixed(2)}</b></font></td><td align='center'><b>${(meanMembersReachedByMembersInSingleExtCert/(xpercent*100)).toFixed(2)}</b></td></tr>
</table>
<br>

<!-- Afficher le currentBlockchainTimestamp -->
<i>${LANG["CURRENT_BLOCKCHAIN_TIME"]} : ${timestampToDatetime(currentBlockchainTimestamp)}.</i><br>
<br>

<!-- On parcour tout les membres pour afficher ceux dont la date d'expiration est dans moins de 'd' jours -->
<b>${LANG["TABLE_TITLE"]} ${days} ${LANG["DAYS"]} :</b>
<table border="1">
  <!-- Printer les nom des colonnes -->
  <tr>
    <td align="center">${LANG["COL_UID"]}</td>
    <td align="center">${LANG["COL_IDTY_WRITTEN_TIME"]}</td>
    <td align="center">${LANG["COL_LAST_RENEWAL"]}</td>
    <td align="center">${LANG["COL_EXPIRE_MEMBERSHIP"]}</td>
    <td align='center'>${LANG['COL_DISTANCE']}</td>
    <td style="background:#000000">-</td>
    <td align="left" colspan="${nbMaxCertifs}">${(mode=='emitted') ? LANG['COL_LIST_EMITTED_CERT']:LANG['COL_LIST_RECEIVED_CERT']} (${sort_by == 'lastSig' ? LANG["LAST2OLDEST"] : LANG["OLDEST2LAST"]})</td>
  </tr>
  
  ${membersListFiltered
    .map( member=> `
      <!-- Printer la ligne -->
      <tr>
        ${(member.proportion = proportion(member.expireMembershipTimestamp,msValidity,0,120),'')}
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
          <b>${member.uid}</b><br>
          
          ${(member.isSentry) ? `<font color="blue">${LANG['REFERRING_MEMBER']} : ${LANG['YES']}</font>`:`${LANG['REFERRING_MEMBER']} : ${LANG['NO']}`}<br>
          ${LANG['QUALITY_EXT']} : <b>${(typeof(membersQualityExt[member.uid])=='undefined') ? `0.00`:membersQualityExt[member.uid]}</b><br>
          <b>${(membersLastCentralityCalcTime==0) ? `${LANG['CENTRALITY']} : ?`:`
						${LANG['CENTRALITY']} : <b>${(typeof(membersCentrality[member.wotb_id])=='undefined') ? `0`:membersCentrality[member.wotb_id]}
					`}</b><br>
          ->${member.certifications.length}
          ${pendingSigs == "yes" && typeof(member.pendingCertifications) != 'undefined' 
            ? ` (+${member.pendingCertifications.length})` 
            : ''}
        </td>
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
          ${timestampToDatetime(member.idtyWrittenTimestamp)}<br>
          #${member.idtyWrittenBloc}
        </td>
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
          ${timestampToDatetime(member.lastRenewalTimestamp)}<br>
          #${member.lastRenewalWrittenBloc}
        </td>
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
          ${timestampToDatetime(member.expireMembershipTimestamp)}</td>
        <td align='center' style="background:hsla(${member.proportion}, 100%, 50%, 1)">
          <font color="${member.detailedDistance.isOutdistanced ? 'red' : 'blue' }">
            ${member.detailedDistance.isOutdistanced ? LANG['COL_DISTANCE_isOutdistanced'] : LANG['COL_DISTANCE_isNotOutdistanced'] }
            <br>${member.percentSentriesReached}% (${member.detailedDistance.nbSuccess}/${member.detailedDistance.nbSentries})
          </font>
        </td>
        <td style="background:#000000">-</td>
  
        <!-- Printer les certifications en piscine -->
        ${pendingSigs == "yes" && typeof(member.pendingCertifications) != 'undefined' ?
            member.pendingCertifications.map( cert=> `
              <!-- Printer la certification -->
              <td align="center" style="background:${(cert.validBlockStamp) ? cert.colorPending=color(cert.expires_on,idtyWindow,250) : cert.colorPending='#FF8000'}">
								<b>${cert.protagonist}</b><br>
                ${timestampToDatetime(cert.timestampExpire)}<br>
                ${LANG["EMITTED"]} #${cert.blockNumber}<br>
                ${ ( !cert.validBlockStamp || cert.timestampWritable > currentBlockchainTimestamp ) ? `
									<font color="DarkRed">[${ (cert.validBlockStamp) ? timestampToDatetime(cert.timestampWritable):LANG['INVALID_BLOCKSTAMP']}]</font>
								` : `
									<font color='green'>[${LANG['CERT_AVAILABLE']}]</font>
								`}
                </font>
              </td>
            `).join('') 
        :''}
    
        <!-- Printer les certifications écrites en blockchain -->
        ${member.certifications.map( cert=> `
          <!-- Printer la certification -->
          <td align="center" style="background:hsla(${proportion(cert.timestampExpire,sigValidity,0,120)}, 100%, 50%, 1 )">
            <b>${(mode=='emitted') ? cert.receiver:cert.issuer}</b><br>
            ${timestampToDatetime(cert.timestampExpire)}<br>
            ${LANG["WRITTEN"]} #${cert.writtenBloc}
          </td>
        `).join('')}
      </tr>
    `).join('')
  }
  <tr>
    <td colspan="${4+nbMaxCertifs}" align="center"> ${LANG["OVERALL"]} : <b>${membersListFiltered.length}</b> ${LANG["MEMBERS"]}.</td>
  </tr>
</table><br>

<hr>
