${(host.substr(host.length-6,6) == '.onion') ? HTML_TOR_HEAD:HTML_HEAD}
  <title>${currencyName}-monit</title>
</head>
<body>

<!-- Afficher le menu -->
<table align="center" width="100%">
  <tr>
    <td><a href="willMembers?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["WILL_MEMBERS"]}</a></td>
    <td><a href="members?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MEMBERS"]}</a></td>
    <td><a href="membersCount?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MEMBERS_COUNT"]}</a></td>
    <td><a href="blockCount?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["BLOCK_COUNT"]}</a></td>
    <td><a href="monetaryMass?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MONETARY_MASS"]}</a></td>
    <!-- <td><a href="pubkeyBalance?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["PUBKEY_BALANCE"]}</a></td> -->
    <td><a href="about?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["ABOUT"]}</a></td>
    <td>
      <form action="" method="GET">
	<select name="lg" onchange="this.form.submit()">
	  <option name="lg" value="fr" ${MENU_LANG['LG'] == 'fr' ? 'selected' : ''}>FR
	  <option name="lg" value="en" ${MENU_LANG['LG'] == 'en' ? 'selected' : ''}>EN
	</select>
    </td>
</tr>
</table>
<hr>

<!-- Afficher le formulaire -->
<input type="number" name="d" value="${days}"/>jours - tri par <select name="sort_by">
<option name="sort_by" value ="idtyWritten">date d\'obtention du statut de membre
<option name="sort_by" value ="expireMembership" ${sort_by == 'expireMembership' ? 'selected' : ''}>date d\'expiration du membership
<option name="sort_by" value ="lastRenewal" ${sort_by == 'lastRenewal' ? 'selected' : ''}>date de dernier renouvellement
<option name="sort_by" value ="oldestSig" ${sort_by == 'oldestSig' ? 'selected' : ''}>date de plus vielle certification
<option name="sort_by" value ="lastSig" ${sort_by == 'lastSig' ? 'selected' : ''}>date de plus récente certification
<option name="sort_by" value ="sigCount" ${sort_by == 'sigCount' ? 'selected' : ''}>nombre de certifications reçues
</select> dans l\'ordre <select name="order">
<option name="order" value ="asc">croissant
<option name="order" value ="desc" ${order == 'desc' ? 'selected' : ''}>décroissant</select>
<input type="submit" value="envoyer"><br>
<input type="checkbox" name="pendingSigs" value="yes" ${pendingSigs == 'yes' ? 'checked' : ''}>Inclure les certifications en piscine.</form><br>

<!-- Afficher la légende -->
<br>
${(pendingSigs == 'yes' && help != 'no') ? ` [inscriptible : date à partir de laquelle cette certification pourra être écrite compte tenu de sigPeriod]<br>` : ''}

<!-- Afficher le currentBlockchainTimestamp -->
<i>Temps Blockchain actuel : ${timestampToDatetime(currentBlockchainTimestamp)}.</i><br>
<br>

<!-- On parcour tout les membres pour afficher ceux dont la date d'expiration est dans moins de 'd' jours -->
<b>Membres dont le statut de membre va expirer dans moins de ${days} jours :</b>
<table border="1">
  <!-- Printer les nom des colonnes -->
  <tr>
    <td align="center">uid</td>
    <td align="center">obtention statut membre</td>
    <td align="center">dernier renouvellement</td>
    <td align="center">date d'expiration du membre</td>
    <td style="background:#000000">-</td>
    <td align="left" colspan="${nbMaxCertifs}">liste des certifications reçues (${sort_by == 'lastSig' ? 'récentes -> anciennes' : 'anciennes -> récentes'})</td>
  </tr>
  
  ${membersListFiltered
    .map( member=> `
      <!-- Printer la ligne -->
      <tr>
        ${(member.proportion = proportion(member.expireMembershipTimestamp,msValidity,0,120),'')}
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
        <!--<td align="center" style="background:#${color}">-->
          <h3>${member.uid}</h3>
          ->${member.certifications.length}
          ${pendingSigs == "yes" && member.pendingCertifications.length > 0 
            ? `(${member.pendingCertifications.length})` 
            : ''}
        </td>
        <!--<td align="center" style="background:hsla(0, 0%, ${member.proportion}%, 1)">-->
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
        <!--<td align="center" style="background:#${color}">-->
          ${timestampToDatetime(member.idtyWrittenTimestamp)}<br>
          #${member.idtyWrittenBloc}
        </td>
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
        <!--<td align="center" style="background:#${color}">-->
          ${timestampToDatetime(member.lastRenewalTimestamp)}<br>
          #${member.lastRenewalWrittenBloc}
        </td>
        <td align="center" style="background:hsla(${member.proportion}, 100%, 50%, 1)">
        <!--<td align="center" style="background:#${color}">-->
          ${timestampToDatetime(member.expireMembershipTimestamp)}</td>
        <td style="background:#000000">-</td>
  
        <!-- Printer les certifications en piscine -->
        ${pendingSigs == "yes" ?
            member.pendingCertifications.map( certification=> `
              <!-- Printer la certification -->
              <td align="center" style="background:${color(certification.timestampExpire,sigWindow,200)})">
                ${certification.from}<br>
                ${timestampToDatetime(certification.timestampExpire)}<br>
                émise #${certification.blockNumber}<br>
                [inscriptible ${timestampToDatetime(certification.timestampWritable)}]
              </td>
            `).join('') 
        :''}
    
        <!-- Printer les certifications écrites en blockchain -->
        ${member.certifications.map( certification=> `
          <!-- Printer la certification -->
          <td align="center" style="background:hsla(${proportion(certification.timestampExpire,sigValidity,0,120)}, 100%, 50%, 1 )">
            ${certification.issuer}<br>
            ${timestampToDatetime(certification.timestampExpire)}<br>
            écrite #${certification.writtenBloc}
          </td>
        `).join('')}
      </tr>
    `).join('')
  }
  <tr>
    <td colspan="${4+nbMaxCertifs}" align="center"> total : <b>${membersListFiltered.length}</b> membres.</td>
  </tr>
</table><br>

<hr>
