
${HTML_HEAD}
<script src="https://librelois.fr/js/Chart.min.js"></script>
${HTML_MENU}

<form action="" method="GET">Begin #<input type="number" name="begin" value="${begin}"> - End #<input type="number" name="end" value="${end}"> <select name="unit">
  <option name="unit" value ="quantitative">quantitative
  <option name="unit" value ="relative" ${unit == 'relative' ? 'selected' : ''}>relative
</select> <select name="massByMembers">
  <option name="massByMembers" value ="yes">mass by members
  <option name="massByMembers" value ="no" ${massByMembers == 'no' ? 'selected' : ''}>total mass
</select><input type="submit" value="submit"></form><br>
<canvas id="myChart"></canvas>
<script>
  var tabCurrency = ${JSON.stringify(tabCurrency)};
  var begin = ${JSON.stringify(begin)};
  var end = ${JSON.stringify(end)};
  var query = location.search.substr(1).split('&').map( opt=> opt.split('=') ).reduce((o,c)=>(o[c[0]]=c[1],o),{})
  
  // GET parameters
  var unit = query.unit == 'relative' ? 'relative' : 'quantitative';
  var massByMembers = query.massByMembers == 'no' ? 'no' : 'yes';
  var type = query.type == 'linear' ? 'linear' : 'logarithmic';
  
  // Mettre en forme les données
  var tabLabels = [];
  var tabMonetaryMass = [];
  var tabBackgroundColor = [];
  var tabBorderColor = [];
  for (let i=0;i<tabCurrency.length;i++)
  {
    tabBackgroundColor.push('rgba(54, 162, 235, 0.5)');
    tabBorderColor.push('rgba(54, 162, 235, 1)');
    if (unit == 'quantitative')
    {
      tabLabels.push(tabCurrency[i].dateTime);
      if (massByMembers == "no")
      {
        tabMonetaryMass.push(tabCurrency[i].monetaryMass);
      }
      else
      {
        tabMonetaryMass.push(tabCurrency[i].monetaryMassPerMembers);
      }
    }
    else if (unit == 'relative')
    {
      tabLabels.push(tabCurrency[i].dateTime);
      if (massByMembers == "no")
      {
        tabMonetaryMass.push(tabCurrency[i].relativeMonetaryMass);
        }
      else
      {
        tabMonetaryMass.push(tabCurrency[i].relativeMonetaryMassPerMembers);
      }
    }
    else { res.status(200).send("<pre>Error : undefined unit</pre>"); }
  }
  
  // Define label and titleChart
  var label = 'Ğ1';
  if (unit == "relative") { label = "DUğ1"; }
  var titleChart = label+' Monetary Mass '
  if (massByMembers == "yes") { titleChart += "by members "; label += "/member"; }
  titleChart += 'in the range #'+begin+'-#'+end;
  
  // Define Chart Data
  var myChartData = {
    labels: tabLabels,
    datasets: [{
      label: '#'+label,
      data: tabMonetaryMass,
      backgroundColor: tabBackgroundColor,
      borderColor: tabBorderColor,
      borderWidth: 1
    }]
  }
  
  // Define Chart Options
  var myChartOptions = {
    // plugins: {
    //   afterDraw: function (chart, easing) {
    //     var self = chart.config;    /* Configuration object containing type, data, options */
    //     var ctx = chart.chart.ctx;  /* Canvas context used to draw with */
    //   }
    // },
    title: {
      display: true,
      text: titleChart
    },
    legend: {
      display: false
    }
  }
  
  // creating chartJs Object
  var chartJs = {
    type: 'bar',
    data: myChartData,
    options: myChartOptions
  }
  

var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx, chartJs);

</script>