${(host.substr(host.length-6,6) == '.onion') ? HTML_TOR_HEAD:HTML_HEAD}
  <title>${currencyName}-monit</title>
</head>
<body>

<!-- Afficher le menu -->
<table align="center" width="100%">
  <tr>
    <td><a href="willMembers?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["WILL_MEMBERS"]}</a></td>
    <td><a href="members?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MEMBERS"]}</a></td>
    <td><a href="membersCount?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MEMBERS_COUNT"]}</a></td>
    <td><a href="blockCount?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["BLOCK_COUNT"]}</a></td>
    <td><a href="monetaryMass?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["MONETARY_MASS"]}</a></td>
    <td><a href="wotex?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["WOTEX"]}</a></td>
    <td><a href="about?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}">${MENU_LANG["ABOUT"]}</a></td>
    <td>
      <form action="" method="GET">
	<select name="lg" onchange="this.form.submit()">
	  <option name="lg" value="fr" ${MENU_LANG['LG'] == 'fr' ? 'selected' : ''}>FR
	  <option name="lg" value="en" ${MENU_LANG['LG'] == 'en' ? 'selected' : ''}>EN
	</select>
    </td>
</tr>
</table>
<hr>

<!-- Afficher le formulaire -->
	<input type="number" name="d" value="${days}"/>${LANG["DAYS"]} - ${LANG["SORT_BY"]}
	<select name="sort_by">
		<option name="sort_by" value ="creationIdty">${LANG["SORT_BY_CREATION_IDTY"]}
		<option name="sort_by" value ="sigCount" ${sort_by == 'sigCount' ? 'selected' : ''}>${LANG["SORT_BY_SIG_COUNT"]}
		<option name="sort_by" value ="registrationPackage" ${sort_by == 'registrationPackage' ? 'selected' : ''}>${LANG["SORT_BY_REGISTRATION_PACKAGE"]}
	</select> ${LANG["ORDER"]} : <select name="order">
		<option name="order" value ="asc">${LANG["ORDER_ASC"]}
		<option name="order" value ="desc" ${order == 'desc' ? 'selected' : ''}>${LANG["ORDER_DESC"]}
	</select> <input type="submit" value="${LANG["SUBMIT_TXT"]}"><br>
	
	<input type="checkbox" name="showIdtyWithZeroCert" value="yes" ${showIdtyWithZeroCert == 'yes' ? 'checked' : ''}>${LANG["CHECKBOX_SHOW_IDTY_WITH_ZERO_CERT"]}<br>
	
	<input type="checkbox" name="sortSig" value="Availability" ${sortSig == 'Availability' ? 'checked' : ''}>${LANG["CHECKBOX_SORT_SIG"]}
</form>
<br>

<!-- Afficher le currentBlockchainTimestamp et la légende -->
${(help != 'no') ? `
  <i><font color='DarkRed'>${LANG["SIG_PERIOD_LEGEND"]}</font><br>
  <font color='green'>${LANG["SIG_PERIOD_LEGEND2"]}</font></i><br>
  <br>
  <b>${LANG["HOW_TO_BECOME_MEMBER_TITLE"]}</b><br>
  ${LANG["HOW_TO_BECOME_MEMBER_TEXT"]}<br>
  <br>
  <b>${LANG["DISTANCE_RULE_TITLE"]}</b><br>
  ${LANG["DISTANCE_RULE_TXT"]}<br>
  <br>
  ${LANG["BLOCKCHAIN_TIME"]} : <b>${timestampToDatetime(currentBlockchainTimestamp)}</b> (#<b>${currentBlockNumber}</b>).<br>
  ${LANG["COUNT_READY_MEMBERS"]} : <b>${countMembersWithSigQtyValidCert}</b>.<br>
`:''}

<!-- Afficher les moyennes SentriesReached et MembersReached -->
${LANG["MEAN_SENTRIES_REACHED"]} = <b>${(sumPercentSentriesReached/countMembersWithSigQtyValidCert).toFixed(2)}%</b><br>
${LANG["MEAN_MEMBERS_REACHED"]} = <b>${(sumPercentMembersReached/countMembersWithSigQtyValidCert).toFixed(2)}%</b><br>
<br>

<!-- Tableau de toutes les identités en piscine -->
<table border="1">
  <tr><td colspan="${nbMaxCertifs+6}" align='center'>${LANG["TABLE_TITLE1"]} <b>${days}</b> ${LANG["TABLE_TITLE2"]}</td></tr>
  <!-- Printer les nom des colonnes -->
  <tr>
    <td align='center'>${LANG['COL_1']}</td><td align='center'>${LANG['COL_2']}</td>
    <td align='center'>${LANG['COL_3']}</td><td align='center'>${LANG['COL_DISTANCE']}</td>
    <td align='center'>${LANG['COL_MEMBERSHIP']}</td><td style="background:#000000">-</td>
    <td align='center' colspan="${nbMaxCertifs}">${sortSig == "Availability" 
                                                  ? LANG['COL_4_WITH_AVAIlABILITY_SORT']
                                                  : LANG['COL_4']}</td>
  </tr>
  
  ${idtysListFiltered
    .map( (idty,nbPrintMembers)=> `
      
      <!--Printer la ligne-->
      <tr>
        <td align="center" style="background:${(idty.validBlockStamp) ? idty.colorPending=color(idty.expires_on,idtyWindow,250) : idty.colorPending='#FF8000'}">
          <a href="wotex?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}&to=${idty['uid']}${idty['wotexId']}&pending=on&mode=undefined">${idty['uid'].substring(0, 20)}</a><br>
          ${idty['pubkey'].substring(0, 8)}
          <br>->${idty.pendingCertifications.length}
        </td>
        <td align='center' style="background:${idty.colorPending}">${timestampToDatetime(idty['creationTimestamp'])}<br>
        #${idty['BlockNumber']}
        ${(!idty.validBlockStamp) ? `
          <br><font color="DarkRed">[${LANG['INVALID_BLOCKSTAMP']}]</font>
        `:``}
        </td>
        <td align='center' style="background:${idty.colorPending}">
        ${timestampToDatetime(idty.expires_on)}</td>
        <td align='center' style="background:${idty.colorPending}">
          <font color="${idty.detailedDistance.isOutdistanced ? 'DarkRed' : 'green' }">${idty.detailedDistance.isOutdistanced ? LANG['COL_DISTANCE_isOutdistanced'] : LANG['COL_DISTANCE_isNotOutdistanced'] }</font>
          <br><font color="${idty.detailedDistance.isOutdistanced ? 'DarkRed' : 'blue' }">${idty.percentSentriesReached}% (${idty.detailedDistance.nbSuccess}/${idty.detailedDistance.nbSentries})</font>
          <br><font color="black">${idty.percentMembersReached}% (${idty.detailedDistance.nbReached}/${currentMembersCount})</font>
        </td>
        <td align='center' style="background:${idty.colorPending}">
          <span style="color: ${idty.membership ? 'green' : 'DarkRed' }">${idty.membership? LANG['COL_MEMBERSHIP_OK'] : LANG['COL_MEMBERSHIP_KO'] }</span>
        </td>
        <td style="background:#000000">-</td>
        
        <!--printer les certifications-->
        ${idty.pendingCertifications.map( (cert,j)=> `
          ${ (j<nbMaxCertifs) ? `
            <td align="center" style="background:${(cert.validBlockStamp) ? color(cert.timestampExpire,sigWindow,250) : '#FF8000'}">
            ${cert.issuerIsSentry ? '<b>':''}
	      <a href="wotex?lg=${MENU_LANG['LG']}${(typeof(help) != 'undefined' && help == 'no') ? '&help=no':''}&to=${cert['from']}&pending=on&mode=undefined">${cert['from']}</a>
	    ${cert.issuerIsSentry ? '</b>':''}
	    <br>${timestampToDatetime(cert.timestampExpire)}
	    <br>#${cert['blockNumber']}
	    ${j==(4+idty.pendingCertifications.length-idty.nbValidPendingCert)?'<b>':''}
	    ${ ( !cert.validBlockStamp || cert['timestampWritable'] > currentBlockchainTimestamp ) ? `
	      <br><font color="DarkRed">[${ (cert.validBlockStamp) ? timestampToDatetime(cert['timestampWritable']):LANG['INVALID_BLOCKSTAMP']}]</font>
	    ` : `
	      <br><font color='green'>[${LANG['SIG_PERIOD_OK']}]</font>
	    `}
	    ${j==(4+idty.pendingCertifications.length-idty.nbValidPendingCert)?'</b>':''}
	    </td>
          `:''}
        `).join('')}
      
      </tr>
      
  `).join('')}
  
  <tr>
    <td colspan="${nbMaxCertifs+6}" align="center">
      ${LANG['LAST_TR1']} : <b>${idtysListFiltered.length}</b> ${LANG['LAST_TR2']}.
    </td>
  </tr>
</table><br>

<hr>
