${HTML_HEAD}
${HTML_MENU}

<!-- Afficher le formulaire -->
<form action="" method="GET">
	<input type="number" name="d" value="${days}"/>${LANG["DAYS"]} - ${LANG["SORT_BY"]}
	<select name="sort_by">
		<option name="sort_by" value ="creationIdty">${LANG["SORT_BY_CREATION_IDTY"]}
		<option name="sort_by" value ="sigCount" ${sort_by == 'sigCount' ? 'selected' : ''}>${LANG["SORT_BY_SIG_COUNT"]}
	</select> ${LANG["ORDER"]} <select name="order">
		<option name="order" value ="asc">${LANG["ORDER_ASC"]}
		<option name="order" value ="desc" ${order == 'desc' ? 'selected' : ''}>${LANG["ORDER_DESC"]}
	</select> <input type="submit" value="${LANG["SUBMIT_TXT"]}">
	<div align="right">
		<select name="lg">
			<option name="lg" value="fr" ${LANG.id == 'fr' ? 'selected' : ''}>FR
			<option name="lg" value="en" ${LANG.id == 'en' ? 'selected' : ''}>EN
		</select>
	</div>
	<br>
	
	<input type="checkbox" name="hideIdtyWithZeroCert" value="yes" ${hideIdtyWithZeroCert == 'yes' ? 'checked' : ''}>${LANG["CHECKBOX_HIDE_IDTY_WITH_ZERO_CERT"]}
	<br>
	
	<input type="checkbox" name="sortSig" value="Availability" ${sortSig == 'Availability' ? 'checked' : ''}>${LANG["CHECKBOX_SORT_SIG"]}
</form>
<br>

<!-- Afficher le currentBlockchainTimestamp et la légende -->
<i><font color='DarkRed'>${LANG["SIG_PERIOD_LEGEND"]}</font><br>
<font color='green'>${LANG["SIG_PERIOD_LEGEND2"]}</font></i><br>
<br>
<b>${LANG["HOW_TO_BECOME_MEMBER_TITLE"]}</b><br>
${LANG["HOW_TO_BECOME_MEMBER_TEXT"]}
<br>
<b>${LANG["DISTANCE_RULE_TITLE"]}</b><br>
${LANG["DISTANCE_RULE_TXT"]}
<br>
<div align="right">
  <a href="https://github.com/librelois/duniter-special-node-members/blob/master/LICENSE">${LANG["LICENSE"]}</a><br>
  <a href="https://github.com/librelois/duniter-special-node-members/">${LANG["SRC"]}</a>
</div>
<br>
<b>${LANG["BLOCKCHAIN_TIME"]} : ${timestampToDatetime(currentBlockchainTimestamp)}.</b>


<!--On parcour toutes les identités-->
${LANG["TABLE_TITLE1"]} <b>${days}</b> ${LANG["TABLE_TITLE2"]} :
<table border="1">
  
  <!-- Printer les nom des colonnes-->
  <tr>
    <td align='center'>${LANG['COL_1']}</td><td align='center'>${LANG['COL_2']}</td>
    <td align='center'>${LANG['COL_3']}</td><td style="background:#000000">-</td>
    <td align='left' colspan="${nbMaxCertifs}">${sortSig == "Availability" 
                                                  ? LANG['COL_4_WITH_AVAIlABILITY_SORT']
                                                  : LANG['COL_4']}</td>
  </tr>
  
  ${idtysListFiltered
    .map( (idty,nbPrintMembers)=> `
      
      <!--Printer la ligne-->
      <tr>
        <td align="center" style="background:${idty.colorPending=color(idty.expires_on,idtyWindow,250)}">
        <!--<td align="center" style="background:\${colorPendingIdty}">-->
          <a href="http://wotex.cgeek.fr/?to=${idty['uid']}&pending=on&mode=undefined">${idty['uid'].substring(0, 20)}</a><br>
          ${idty['pubkey'].substring(0, 8)}
          <br>->${idty.pendingCertifications.length}
        </td>
        <td align='center' style="background:${idty.colorPending}">${timestampToDatetime(idty['creationTimestamp'])}<br>
        #${idty['BlockNumber']}
        </td>
        <td align='center' style="background:${idty.colorPending}">
        ${timestampToDatetime(idty.expires_on)}</td>
        <td style="background:#000000">-</td>
        
        <!--printer les certifications-->
        ${idty.pendingCertifications.map( (cert,j)=> `
          
          <td align="center" style="background:${color(cert.timestampExpire,sigWindow,250)}">
          ${j==4?'<b>':''}
          ${cert['from']}
          <br>${timestampToDatetime(cert.timestampExpire)}
          <br>#${cert['blockNumber']}
          ${ ( cert['timestampWritable'] > currentBlockchainTimestamp ) ? `
            <br><font color="DarkRed">[${timestampToDatetime(cert['timestampWritable'])}]</font>
          ` : `
          <br><font color='green'>${LANG['SIG_PERIOD_OK']}</font>
          `}
          ${j==4?'</b>':''}
          </td>
        
        `).join('')}
      
      </tr>
      
  `).join('')}
  
  <tr>
    <td colspan="${4+nbMaxCertifs}" align="center">
      ${LANG['LAST_TR1']} : <b>${idtysListFiltered.length}</b> ${LANG['LAST_TR2']}.
    </td>
  </tr>
</table><br>

<hr>
