<!-- Inclure l'en-tête commun -->
${(host.substr(host.length-6,6) == '.onion') ? HTML_TOR_HEAD:HTML_HEAD}
<title >${currencyName}-monit : ${MENU_LANG['WOTEX']}</title >
<link
		href='//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css'
		rel='stylesheet'
		type='text/css' />
<script
		crossorigin='anonymous'
		integrity='sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs='
		src='https://code.jquery.com/jquery-3.5.0.slim.min.js' ></script >
<script src='/js/dataTables.min.js' ></script >
<script type='text/javascript' >

  $(document).ready(function () {
    $('table, #table').DataTable({
      paging: false
    } );
  });
</script >

<script type='text/javascript' >

  function onLoadedPage() {
    var to = decodeURIComponent(querySt('to') || '');
    var pending = querySt('pending') == 'on' ? 'checked' : '';
    var mode = querySt('mode');

    document.getElementById('to').value = to || '';
    if (window.location.search) {
      document.getElementById('pending').checked = pending;
    } else {
      // Default checked
      document.getElementById('pending').checked = 'checked';
    }

    if (mode == 'u2w') {
      document.getElementById('modeu2w').checked = 'checked';
    } else {
      document.getElementById('modew2u').checked = 'checked';
    }

    var params = [
      'pending=' + (pending == 'checked' ? 'on' : (!window.location.search ? 'on' : '')),
      'mode=' + mode,
    ];

    var links = document.getElementsByTagName('a');
    for (var i = 0; i < links.length; i++) {
      links[i].href += '&' + params.join('&');
    }
  }

  function querySt(ji) {

    var hu = window.location.search.substring(1);
    var gy = hu.split('&');

    for (i = 0; i < gy.length; i++) {
      ft = gy[i].split('=');
      if (ft[0] == ji) {
        return ft[1];
      }
    }
  }

  function resetAll() {
    window.location = '/';
    return false;
  }
</script >
</head>
<body>
<!-- Afficher le menu -->
${printMenu(MENU_LANG, help, "WOTEX")}
<main onload='onLoadedPage()' >



	<!-- Afficher le titre et le formulaire -->
	<h1 >${LANG['TITLE']}</h1 >
	<form
			action=''
			method='GET'
			onreset='resetAll()' >
		<div >
			<label for='to' >${LANG['TEST_UID']} :</label >
			<input
					id='to'
					name='to'
					type='text' >
			<br >
			<input
					checked='checked'
					id='pending'
					name='pending'
					type='checkbox' >
			<label for='pending' >${LANG['CHECKBOX_PENDING_DATA']}</label >
			<br >
			<input
					checked='checked'
					id='modew2u'
					name='mode'
					type='radio'
					value='w2u' >${LANG['MODE_W2U']}
		</div >
		<input
				id='modeu2w'
				name='mode'
				type='radio'
				value='u2w' >${LANG['MODE_U2W']}</div>
		<br >
		<input
				class='input is-primary button'
				type='submit' />
		<input
				class='input is-warning button'
				type='reset'
				value='Reset' />
		</div>
	</form >
	<hr />
	<!-- Afficher la légende -->
	${(typeof(help) == 'undefined' || help != 'no') ? `
	<p >${LANG['LEGEND_TITLE']} :</p >

	<span class='isMember' >${LANG['LEGEND_BLACK']}</span ></br>
	<span class='isSentry' >${LANG['LEGEND_BLUE']}</span ></br>
	<span class='isPending' >${LANG['LEGEND_#ffc55a']}</span ></br>
	<span class='isNonMember' >${LANG['LEGEND_#FF596A']}</span ></br>

	<hr />
	`:``}
	<!-- Afficher tout les plus courts chemins -->
	${searchResult}
	<!-- Afficher les membres référents -->
	<h2 >${LANG['CURRENT_SENTRIES']} :</h2 >
	${sentriesHTML}
</main >
</body>
</html>
